<div class="card p-4">
  <h2>Modifier fournisseur</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label>Nom</label>
      <input class="form-control" formControlName="nom" />
    </div>

    <div class="mb-3">
      <label>Email</label>
      <input class="form-control" formControlName="email" />
    </div>

    <div class="mb-3">
      <label>Téléphone</label>
      <input class="form-control" formControlName="telephone" />
    </div>

    <div class="mb-3">
      <label>Adresse</label>
      <input class="form-control" formControlName="adresse" />
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
      Mettre à jour
    </button>
  </form>

  <div class="text-success mt-3" *ngIf="success">{{ success }}</div>
  <div class="text-danger mt-3" *ngIf="error">{{ error }}</div>
</div>
