<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let produit of produits">
      <div class="card h-100 shadow-sm">
        <img *ngIf="produit.imageUrl" [src]="'https://localhost:7041/' + produit.imageUrl" class="card-img-top"
          alt="Image du produit" style="height: 200px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">{{ produit.nom }}</h5>
          <p class="card-text">{{ produit.description }}</p>
          <p class="card-text fw-bold">{{ produit.prixUnitaire }} TND</p>
          <p class="card-text"><small>Catégorie : {{ produit.categorie }}</small></p>
          <p class="card-text"><small>Stock : {{ produit.quantiteEnStock }}</small></p>
          <div class="d-flex justify-content-between mt-3">
            <button class="btn btn-warning btn-sm" (click)="modifierProduit(produit)">Modifier</button>
            <button class="btn btn-danger btn-sm" (click)="supprimerProduit(produit.id)">Supprimer</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>